<div class='landing-panel landing-header'>
  <div class='row'>
    <div class='col-md-1 pull-right text-right'>
      <%= link_to raw("#{fa_icon 'twitter'} Sign In"),
        user_omniauth_authorize_path(:twitter),
        class: 'btn' %>
    </div>
  </div>
</div>

<div class='landing-panel landing-main'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>Local Favorite</h1>
      <h2>Automatically find and favorite your local Twitter audience.</h2>
    </div>
  </div>
  <div class='row row-sign-up'>
    <div class='col-md-12 text-center'>
      <%= link_to raw("#{fa_icon 'twitter'} Sign Up"),
        user_omniauth_authorize_path(:twitter),
        class: 'btn btn-sign-up' %>
    </div>
  </div>
</div>

<div class='landing-panel landing-description row'>
  <div class='col-md-4'>
    <h3 class='text-center'>Find Nearby Users</h3>
    <div class='large-icon'>
      <%= fa_icon 'location-arrow' %>
    </div>
    <p class='text-center'>
      Find nearby people talking about a topic relevant to your company.
    </p>
  </div>
  <div class='col-md-4'>
    <h3 class='text-center'>Start the Conversation</h3>
    <div class='large-icon'>
      <%= fa_icon 'star' %>
    </div>
    <p class='text-center'>
      Automatically favorite their tweet, or strike up a conversation.
    </p>
  </div>
  <div class='col-md-4'>
    <h3 class='text-center'>Drive Traffic</h3>
    <div class='large-icon'>
      <%= fa_icon 'users' %>
    </div>
    <p class='text-center'>
      Gain real followers and drive people to your site or store.
    </p>
  </div>
</div>

<div class='landing-panel landing-pricing row'>
  <div class='col-md-12'>
    <h2 class='text-center'><%= link_to "Free to $3/month", plans_path %></h2>
    <p class='text-center'>
      An indispensable part of your social media toolbox,
      <br/>
      at a ridiculously good price.
    </p>
  </div>
</div>
