<h1>Search Terms</h1>

<% if @can_add_more_terms %>
  <div class='row'>
    <div class='col-md-1'>
      <%= link_to "Add", new_search_term_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% else %>
  <div class='alert alert-warning'>
    <h4 class='text-center'>You have run out of search terms for this plan!</h4>
    <p class='text-center'><%= link_to "Upgrade your plan to add additional search terms", plans_path %></p>
  </div>
<% end %>

<hr/>

<% if @search_terms.any? %>
  <table class='table table-bordered'>
    <tr>
      <th>Keywords</th>
      <th>Location</th>
      <th></th>
    </tr>
    <% @search_terms.each do |search_term| %>
      <tr>
        <td><%= search_term.keywords %></td>
        <td><%= search_term.location %></td>
        <td>
            <%= link_to "Edit", edit_search_term_path(search_term) %>
            |
            <%= link_to "Delete", search_term_path(search_term),
                method: :delete,
                data: {confirm: "Are you sure you would like to delete this search term? All tweets will be deleted."}
            %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class='well'>
    <h3 class='text-center'><%= link_to "Add your first search term to get started.", new_search_term_path %></h3>
  </div>
<% end %>
